{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h1>Syllabus Generator</h1>
    </div>
    
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Auto-Generate Competitions</h3>
        </div>
        <div class="card-body">
            <p class="text-muted">
                The Syllabus Generator is accessed via the Vue.js frontend.
            </p>
            <p>
                Use this tool to automatically generate competitions based on:
            </p>
            <ul>
                <li>Age Groups (U8, U10, U12, etc.)</li>
                <li>Gender (Boys, Girls)</li>
                <li>Levels (Beginner, Novice, Prizewinner, Championship)</li>
                <li>Dances (Reel, Jig, Slip Jig, Hornpipe, Treble Jig)</li>
            </ul>
            <a href="/" class="btn btn-primary">
                Open Frontend Generator
            </a>
        </div>
    </div>
</div>
{% endblock %}

